<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="abs.appmodule" >

    <uses-sdk tools:overrideLibrary="com.example.arnauprat.payloadsdk" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_send"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >

        <!-- Declare the service so that other apps cannot start it -->
        <service
            android:name="abs.appmodule.services.TestService"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.PayloadActivity"
            android:label="@string/title_activity_payload"
            android:parentActivityName=".MainActivity" >
            <!-- This supports user navigation for lower level API  -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".activities.ArduinoActivity"
            android:label="@string/title_activity_arduino"
            android:parentActivityName=".MainActivity" >
            <!-- This supports user navigation for lower level API  -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>